# Dependencies
node_modules

# Build output
dist

# Nuxt
.nuxt
.output

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# Environment
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo
